@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black
}
body{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    max-height: 100vh;
    background-image: url(../../Html-Css/desafios/projeto-cordel/imagens/ROG-Flow-X16-scenario-photo-gaming-with-Xbox-controller-in-tent-mode.webp);
}
.container .container_card .imagem{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(119, 13, 218);
    border-radius: 5px;
}
.container .container_card .imagem img{
    width: 190px;
    height: 90%;
    border-radius: 50%;
    border: 2px dashed rgb(3, 6, 156);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.container .container_card .card{
    width: 250px;
    height: 200px;
    transition: .5s;
    border-radius: 5%;
    
}

.container .container_card .card.card_1{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 1;
    transition: .6s;
    transform: translateY(100px);
}
.container .container_card:hover .card.card_1{
    transform: translate(0px);
}
.container .container_card .card.card_2{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    transition: .5s;
    transform: translateY(-100px);
    box-shadow: 5px 5px 30px 5px purple;
}
.container .container_card:hover .card.card_2{
    transform: translateY(0px);
    background-color: white;
}
.container .container_card .card.card_2 h3{
    margin: 0 0 5px 0;
    font-size: 24px;
    padding: 0;
    color: rgb(219, 28, 219);
}
.container .container_card .card.card_2 h4{
    color: gray;
}
.container .container_card .card.card_2 p{
    color: gray;
    font-size: 14px;
    padding: 5px;
}
.container .container_card .card.card_2::after{
    content: "";
    background: linear-gradient( to right, purple, blue, rgb(0, 255, 76));
    position: absolute;
    width: 70px;
    height: 5px;
    bottom: 10px;
    border-radius: 15%;
    left: 50%;
    transform: translateX(-50%);
}
a{
    text-decoration: none;
    color: gray;
}
a:hover{
    text-decoration: none;
    text-shadow: 0px 5px 5px purple;
    color: purple;
}